/*Font Imports Start*/
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Major+Mono+Display&family=Raleway&family=Roboto&display=swap');

.major-mono {
    font-family: 'Major Mono Display';
}

.mono {
    font-family: 'B612 Mono';
}

.neon {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
  }

/*Font Imports End*/
.flex-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

html,
body {
    background-color: black;
    margin: 0;
    padding: 0;
    //overflow: hidden;
}

.navbar {
    width: 100%;
    height: 75px;
    background-color: grey;
}

.navbar h3 {
    position: absolute;
    left: 0;
    margin-left: 20px;
    color: white;
    font-size: 28px;
    transition: all 1s;
}

.navbar-links {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0px 5px 0px 5px;
}

.navbar-link {
    transition: all 0.75s;
}

.navbar-link:hover {
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/cody_large_bg.jpg');
    /*background-image: url("portfolio_2022\imgs\cody_large_bg.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;

}

.hero h1 {
    font-size: 40px;
    text-align: center;
}

.intro-section {
    width: 100%;
    margin: 20px;
    background-color: #000;
    transition: all 1s;
    overflow: hidden;
}

.intro-section h1 {
    color: white;
}

.intro-section p {
    width: 90%;
    text-align: left;
    color: white;
}

.intro-image-changer {
    width: 500px;
    max-width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../imgs/block_1.png');
}